@using Microsoft.AspNetCore.Identity
@using SocialMediaApp.Domain.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- User is logged in -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> Hello, @UserManager.GetUserName(User)!
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="UserProfile" asp-action="Index">
                        <i class="bi bi-person"></i> My Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <!-- User is not logged in -->
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" asp-area="" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> Register
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
        </li>
    }
</ul>
