@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <input asp-for="Email" class="form-control" placeholder="Email..." />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <input asp-for="Password" class="form-control" placeholder="Password..." />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password..." />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <input asp-for="Website" class="form-control" placeholder="Website..." />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <input asp-for="DateOfBirth" class="form-control" placeholder="Date Of Birth..." />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6 offset-md-3 pb-2">
            <button type="submit" class="form-control btn btn-success" value="Submit">Register</button>
        </div>
    </div>
</form>
